<h1>Task List Generator</h1>

<div id='task-list-display'>

  <h2 class="task-step-instructions">Your task list has been created!</h2>


  <strong><%= taskList['name'] %></strong>

  <% _.each(taskItems, function(taskItem){%>
    <ul>
      <li>
        <%= taskItem['name'] %><br/>
        <%= taskItem['description'] %>

        <% if (taskItem['links'].length > 0) { %>
          <% _.each(taskItem['links'], function(link) { %>
            <br/><a href="<%= link['url'] %>"><%= link['name'] %></a>
          <% }); %>
        <% } %>
      </li>
    </ul>
  <% }); %>

</div>